@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color: #212121;
}
/* Hide scrollbar globally */
* {
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
